<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Food App</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>


<div class="jumbotron text-center" >
  <div class="container">
    <h1 class="display-3" style="color: #fff; font-size: 3rem; margin-bottom: 20px;">Welcome Foodie</h1>
    <p class="lead" style="color: #fff; font-size: 1.5rem;">Discover delicious foods</p>
    
    <!-- Featured recipes section -->
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card" style="border-radius: 20px; border: none; box-shadow: 3px 2px 20px rgb(0, 0, 0); margin-bottom: 20px;">
          <img src="../images/burger.png" style="border-radius: 20px 20px 0 0;width: 100% ;max-height:250px;" class="card-img-top" alt="Recipe 1">
          <div class="card-body">
            <h5 class="card-title" style="color: #ed1c24; font-size: 1.5rem; font-weight: bold;">Specialty Dish</h5>
            <p class="card-text" style="color: #343a40;">Our signature Specialty Dish </p>
            <a href="#" class="btn btn-danger" style=" background-color: #3d0f11;">Price: ₹119</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="border-radius: 20px; border: none; box-shadow: 3px 2px 20px rgb(0, 0, 0); margin-bottom: 20px;">
          <img src="../images/dessert.png" style="border-radius: 20px 20px 0 0; width: 100% ;max-height:250px;" class="card-img-top" alt="Recipe 1">
          <div class="card-body">
            <h5 class="card-title" style="color: #ed1c24; font-size: 1.5rem; font-weight: bold;">Specialty Dish</h5>
            <p class="card-text" style="color: #343a40;">Our signature Specialty Dessert </p>
            <a href="#" class="btn btn-danger" style=" background-color: #3d0f11;">Price: ₹309</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="border-radius: 20px; border: none; box-shadow: 3px 2px 20px rgb(0, 0, 0); margin-bottom: 20px;">
          <img src="../images/pasta.png" style="border-radius: 20px 20px 0 0;width: 100% ;height:250px;" class="card-img-top" alt="Recipe 1">
          <div class="card-body">
            <h5 class="card-title" style="color: #ed1c24; font-size: 1.5rem; font-weight: bold;">Specialty Dish</h5>
            <p class="card-text" style="color: #343a40;">Happy Dish </p>
            <a href="#" class="btn btn-danger" style=" background-color: #3d0f11;">Price: ₹199</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End of featured recipes section -->

   
    <div class="row mt-4">
      <div class="col-md-6 mb-3">
        <a class="btn btn-primary btn-lg btn-block" href="/feedbackpage" role="button">Feedback</a>
      </div>
      <div class="col-md-6 mb-3">
        <a class="btn btn-light btn-lg btn-block" href="/api/logout" role="button" style="color: #343a40;">Log Out</a>
      </div>
    </div>
  </div>
  <footer>
    <p class="text-center" style="color: #fff;">&copy; 2021 Foodie. All rights reserved by Arjun.😁</p>
  </footer>
</div>


</body>
</html>