<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Food App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body id="background_bg">
<section class="jumbotron text-center" style=" background-color: #231cf55a;">
    <div class="container">
      <h1 class="display-4 font-weight-bold" style="color: #f1f1f1; margin-top: 20px;">Food Genie</h1>
      <hr class="my-4" style="border-color: #fff;">
      <div class="row">
        <div class="col-md-6 mb-4">
          <a class="btn btn-outline-light btn-lg btn-block" href="/register" role="button">Register</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-outline-light btn-lg btn-block" href="/login" role="button">Login</a>
        </div>
      </div>
    </div>
  </section>
  
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 order-md-2">
        <img src="../images/pizza.png" alt="Food Image" style="width: 80%;height:40vh; border-radius: 20px; box-shadow: 0px 0px 10px rgb(0, 0, 0);">
      </div>
      <div class="col-md-6 order-md-1">
        <h2 class="font-weight-bold" style="color: rgb(175, 175, 255);">Order with Ease</h2>
        <p style="color: #fefefe;">    Explore a wide range of cuisines and discover new flavors from around the world.</p>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-6 order-md-2">
        <img src="../images/burger.png" alt="Food Image" style="width: 80%;height:40vh; border-radius: 20px; box-shadow: 0px 0px 10px rgb(0, 0, 0);">
      </div>
      <div class="col-md-6 order-md-1">
        <h2 class="font-weight-bold" style="color: rgb(175, 175, 255);">Order with Ease</h2>
        <p style="color: #fefefe;">Satisfy your cravings by ordering your favorite dishes with just a few clicks.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 order-md-2">
        <img src="../images/dessert.png" alt="Food Image" style="width: 80%;height:40vh; border-radius: 20px; box-shadow: 0px 0px 10px rgb(0, 0, 0);">
      </div>
      <div class="col-md-6 order-md-1">
        <h2 class="font-weight-bold" style="color: rgb(175, 175, 255);">Order with Ease</h2>
        <p style="color: #fefefe;">Choose your Food based on the weather to enjoy it to the Fullest.</p>
      </div>
    </div>
    <footer class="mt-5">
      <p class="text-center" style="color: #fff;">&copy; 2021 Food Genie. All rights reserved by Arjun.😁</p>
  </div>
</body>
</html>