<!DOCTYPE html>
<html>

<head>
    <title>Tracking Order</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>
    <div id="map" style="width:100%; height: 100vh; "></div>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery for AJAX requests -->

    <script>

        var map = L.map('map').setView([12.953430,74.802744], 11);
        mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'Leaflet &copy; ' + mapLink + ', contribution', maxZoom: 18 }).addTo(map);

        var taxiIcon = L.icon({
            iconUrl: 'https://www.pngmart.com/files/21/Food-Delivery-Scooter-PNG-Transparent.png',
            iconSize: [40, 40]
        })

        var marker = L.marker([12.953430, 74.802744], { icon: taxiIcon }).addTo(map);

        map.on('click', function (e) {
            console.log(e);

           
            // Add a new marker at the clicked location
            var newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
        

            // Set up a new routing control with the clicked location as the waypoint
            routingControl = L.Routing.control({
                waypoints: [
                    L.latLng(e.latlng.lat, e.latlng.lng),
                    L.latLng(12.953430, 74.802744)
                ]
            }).on('routesfound', function (e) {
                var routes = e.routes;
                console.log(routes);

                e.routes[0].coordinates.forEach(function (coord, index) {
                    setTimeout(function () {
                        marker.setLatLng([coord.lat, coord.lng]);
                    }, 50 * index)
                })

              
                // Fetch weather information
                fetchWeatherInfo(12.953430, 74.802744);
            }).addTo(map);
        });


        // Function to calculate estimated delivery time
        function calculateDeliveryTime(distance) {
              // Calculate delivery time
              var distance = e.routes[0].summary.totalDistance; // Get total distance of the route
                var estimatedDeliveryTime = calculateDeliveryTime(distance); // Calculate estimated delivery time
                console.log("Estimated delivery time: " + estimatedDeliveryTime);

        }

        // Function to fetch weather information using AJAX
        function fetchWeatherInfo(latitude, longitude) {
            var apiKey = '1ec6e0b46f20a0f70ed298bf60f3c57d'; // Your weather API key
            var apiUrl = 'https://api.openweathermap.org/data/2.5/weather?lat=' + latitude + '&lon=' + longitude + '&appid=' + apiKey;

            $.ajax({
                url: apiUrl,
                method: 'GET',
                success: function (response) {
                    // Process weather data and display it on the map interface
                    console.log(response);
                    // Example: Display weather information in a popup
                    marker.bindPopup("Weather: " + response.weather[0].main).openPopup();
                },
                error: function (error) {
                    console.error("Error fetching weather data: " + error);
                }
            });
        }

    </script>


</body>

</html>